Lectures/Lecture_11/ModernBERT-domain-classifier/checkpoint-339/model.safetensors
Lectures/Lecture_11/ModernBERT-domain-classifier/checkpoint-339/optimizer.pt
Lectures/Lecture_11/ModernBERT-domain-classifier/checkpoint-565/model.safetensors
Lectures/Lecture_11/ModernBERT-domain-classifier/checkpoint-565/optimizer.pt
